extends layout

block content
  .w3-container.w3-auto.top
    .w3-card-4.w3-pale-yellow.index
      header.w3-margin-left.w3-margin-top
        h1.w3-margin-top Repositório de Recursos Didáticos
      .w3-container.w3-pale-yellow.w3-margin-top 
        h1 Login
          a(href='/login')
            button.w3-button.w3-round-large.w3-margin(class ="fas fa-sign-in-alt")
        h1 Registar
          a(href='/registo')
            button.w3-button.w3-round-large.w3-margin(class ="fas fa-user-plus")