extends layout

block content
  .w3-container.w3-sand.w3-auto.index1.top
    .w3-card-4.w3-pale-yellow
      header.w3-margin-left
        h1
          b Login 
      .w3-container.w3-pale-yellow
        form(action="/login" method="POST")
          label
            b Username
          input.w3-input.w3-pale-yellow.w3-margin-bottom(type="text" name="username" required)
          label
            b Password
          input.w3-input.w3-pale-yellow.w3-margin-bottom(type="password" id="length" name="password" required)
          
          input.w3-btn.w3-margin-top.w3-margin-bottom.w3-hover-black.w3-round-xxlarge(type="submit" value="Enviar")
        
        if (error == "Request failed with status code 401")
          div(class="alert")
            span(class="closebtn" onclick="this.parentElement.style.display='none';") &times;
            strong Credenciais incorretas 

      div.w3-pale-yellow.w3-padding-16(style='position: fixed; left: 0; bottom: 0; width: 100%; text-align: center;')
        a(href='/') Voltar à página principal