extends layout

block content
  h2.w3-container.w3-pale-green
   b.w3-text-black Upload de Recursos
   b.w3-right Logout
    a(href="/logout")
      button.w3-button.w3-right.w3-round-xlarge(class = "fas fa-sign-out-alt")
  .w3-card.modal(id="display")
  form(action="/editar/user/" + username method='POST')
      button.w3-button.w3-right.w3-circle.w3-round-large.w3-green.w3-margin(class="fas fa-user-edit" type='submit' value='Edit')
  
  if (sucesso)
    div(class="w3-panel w3-green")
      span(class="closebtn" onclick="this.parentElement.style.display='none';") &times;
      strong Upload realizado com sucesso

  form.w3-container(action='/insert' method='POST' enctype='multipart/form-data')
    label.w3-text-teal
      b Seleciona ficheiro ZIP
    input.w3-input.w3-border.w3-light-grey(type='file' name='myFile' required)
    b SUBMIT:
      button.w3-button.w3-circle.w3-round-large.w3-yellow.w3-margin(class="fas fa-plus" type='submit')


  h2.w3-container.w3-pale-green
   b.w3-text-black Search Bar
  form.w3-container(action='/search', method='POST')
      label.w3-text-teal
        b Inserir palavra a pesquisar
      input.w3-input.w3-border.w3-light-grey(type='text', name='word' required)
      b SEARCH:
        button.w3-button.w3-circle.w3-round-large.w3-yellow.w3-margin(class="fas fa-search" type='submit')
        
  h2.w3-container.w3-pale-green
    b.w3-text-black Tipos de Recursos:

  h2 
    b.w3-margin Tese:
      a(href="/tipo/Tese")
        button.w3-button.w3-margin.w3-round-xxlarge(class = "fas fa-user-graduate")
    br
  h2
    b.w3-margin  Fichas:
      a(href="/tipo/Ficha")
        button.w3-button.w3-margin.w3-round-xxlarge(class = "fas fa-book")
    br
  h2
    b.w3-margin  Exames:
      a(href="/tipo/Exame")
        button.w3-button.w3-margin.w3-round-xxlarge(class = "fas fa-university")
    br
  h2
    b.w3-margin  Slides:
      a(href="/tipo/Slide")
        button.w3-button.w3-margin.w3-round-xxlarge(class = "fas fa-chalkboard-teacher")
  h2
    b.w3-margin  Favoritos:
      a(href="/favoritos")
        button.w3-button.w3-margin.w3-round-xxlarge(class = "fas fa-star")

  if news.length > 0
    h2.w3-container.w3-pale-green
      b.w3-margin  Noticias:
          button.w3-button.w3-pale-green.w3-margin.w3-round-xxlarge(class = "fas fa-envelope"
          class="ficheiro", onclick="showNews(" + JSON.stringify(news) + ")")
  else
    h2.w3-container.w3-pale-green
      b.w3-margin  Noticias:
          button.w3-button.w3-pale-green.w3-margin.w3-round-xxlarge(class = "fas fa-envelope-open"
          class="ficheiro", onclick="showNews(" + JSON.stringify(news) + ")")