extends layout
block content
    unless empty
        h2.w3-container.w3-pale-green.w3-center
            b  Lista de acontecimentos
        table.w3-table-all
                tr
                    th.w3-center Username 
                    th.w3-center Acontecimento
                    th.w3-center Data
                each n in news
                    if n.visible == 1
                        tr
                            td.w3-center= n.username
                            td.w3-center= n.action
                            td.w3-center= n.date


    else
        h2.w3-container.w3-pale-green.w3-center
            b Não existem acontecimentos registados
    
    div.w3-pale-green.w3-padding-16(style='position: fixed; left: 0; bottom: 0; width: 100%; text-align: center;')
        b 
            a(href='/feed') Voltar à página principal
