extends layout
block content
    unless empty
        h2.w3-container.w3-pale-green.w3-center
            b  Lista de acontecimentos
            b.w3-right Apagar todas:  
                a(href="/admin/deleteAll")
                    button.w3-button.w3-right.w3-red.w3-margin.w3-round-large(class = "fas fa-times")
            b.w3-right Fazer download:  
                a(href="/admin/downloadLogs")
                    button.w3-button.w3-right.w3-blue.w3-margin.w3-round-large(class = "fas fa-file-download")
        
        if (sucesso)
            div(class="w3-panel w3-green")
                span(class="closebtn" onclick="this.parentElement.style.display='none';") &times;
                strong Ficheiro de logs guardado na sub-diretoria Logs, na diretoria Uploads

        table.w3-table-all
                tr
                    th.w3-center Username 
                    th.w3-center Acontecimento
                    th.w3-center Data
                    th.w3-center Visibilidade
                each n in news
                        tr
                            td.w3-center= n.username
                            td.w3-center= n.action
                            td.w3-center= n.date
                            if n.visible == 1
                                td.w3-center Visível
                            else 
                                td.w3-center Invisível
                            td
                                form(action="/admin/news/delete/" + n._id method='POST')
                                    button.w3-button.w3-right.w3-circle.w3-round-large.w3-red(class="fas fa-trash-alt" type='submit' value='Delete')
                            td
                                form(action="/admin/news/visibleV/" + n._id method='POST')
                                    button.w3-button.w3-right.w3-circle.w3-round-large.w3-green(class="fas fa-unlock" type='submit' value='Delete')
                            td
                                form(action="/admin/news/visibleI/" + n._id method='POST')
                                    button.w3-button.w3-right.w3-circle.w3-round-large.w3-yellow(class="fas fa-lock" type='submit' value='Delete')
    else
        h2.w3-container.w3-pale-green.w3-center
            b Não existem acontecimentos registados
    
    div.w3-pale-green.w3-padding-16(style='position: fixed; left: 0; bottom: 0; width: 100%; text-align: center;')
        b 
            a(href='/feed') Voltar à página principal
